<html lang="en"><head>
<meta charset="utf-8">
<title>文章添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script>
//文本编辑器 
KindEditor.ready(function(K) {
	var myeditor = K.create('textarea[name="content"]', {
		allowFileManager : true,
		//autoHeightMode : true,
		afterCreate : function() {
			this.loadPlugin('autoheight');
		},
		afterUpload : function(url) {
			var firstimageoption = '<option value="' + url + '">' + url + '</option>';
			var selectoption = '<option value="' + url + '" selected="selected">' + url + '</option>';
			$("#firstimage").append(firstimageoption);
			$("#images").append(selectoption);
		}
	});
	K('#form').bind('submit', function() {
		myeditor.sync();
	});
});
</script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
     <h1 class="page-header">文章添加</h1>
           <form action="{:U('Article/art_insert')}" method="post" id="form">           
            <table class="table_form">
                  <tr>
                    <td width="20%" align="right">文章标题：</td>
                    <td width="80%">                                      
		                <input type="text" name="title" value="" style="width: 500px;" class="form-control"/>
		                <font class="red" id="namets"> * </font>		               		                              	                                                 
                    </td>
                  </tr>
                  <tr>
                    <td align="right">文章类型：</td>
                    <td >
                      <select name="class" class="form-control">
                        <option value="1">公司通知</option>
                        <option value="2">文章杂谈</option>
                      </select>
                      <font class="red" id="namets"> * </font>
                    </td>
                  </tr>
                  <tr>
                    <td align="right"> 添 加 人 ：</td>
                    <td>
                      <select name="user_id" class="form-control">
                       <!-- <foreach name="user_list" item="user_list"> --> 
                        <option value="{$user_list['id']}">{$user_list['realname']}</option>
                       <!-- </foreach> -->
                      </select>
                      <font class="red" id="namets"> * </font>
                    </td>
                  </tr>
                  <tr>
                    <td align="right">内 &nbsp;&nbsp;&nbsp; 容：</td>
                    <td>
                        <textarea name="content" style="height:300px;width:90%;"></textarea>
                    </td>
                  </tr>           
                  <tr>
                    <td>&nbsp;</td>
                    <td align="center"><input type="submit" name="Submit" value=" 添加 " class="btn btn-primary"></td>
                  </tr>
            </table>                              
           </form>
   </div>
</div>
</body>
</html>