<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>文章列表</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden; background: #f2f2f2;">
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>文章列表</font></span></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
       <tr>
        <td height="40">
              <span id="cust_search">
                <font style="margin-left: 10px;">操作：</font>	                              
                <a href="{:U('Article/art_list?class=1')}" class="button_submit">公司通知</a>
                <a href="{:U('Article/art_list?class=2')}" class="button_submit">文章杂谈</a> 
                <a href="{:U('Article/art_add')}" class="button_submit" >文章添加</a>                                             
           </span>   
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="center">                     
            <table width="752" border="0" class="cust_list">           
                  <tr class="liebiao_title">
                    <th width="400">标题</th>
                    <th width="100">文章类型</th>
                    <th width="100">发布人</th>
                    <th width="150">发布时间</th>
                  </tr>
               </table>
           </td>
      </tr>      
      <tr>
        <td align="center"> 
           <!-- <foreach name="list" item="art_list"> -->        
            <table width="752" border="0" cellspacing="0" cellpadding="0" class="com_list">                                                 
                  <tr height="30">
                     <td width="400" style="padding-left: 10px;"><a href="{:U('Article/art_detailed?id='.$art_list['id'])}">{$art_list['title']|mb_substr=0,96}</a></td>
                     <td width="100" align="center">
                        <!-- <if condition="$art_list['class'] eq 1 "> -->公司通知               
                        <!-- <else /> --> 文章杂谈<!-- </if> -->
                     </td>
                     <td width="100" align="center">{$art_list['realname']}</td>
                     <td width="150" align="center">{:date('Y/m/d H:i:s',$art_list['time'])}</td>
                  </tr>                         
              </table>
            <!-- </foreach> -->
           </td>
      </tr> 
                            
      <tr>
        <td align="center">                     
          <table width="752" border="0" style="display: block; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
            <tr style="display: block;">
              <td height="40" style="display: block; text-align: center;line-height: 40px;">{$page}</td>
            </tr>
          </table>
        </td>
      </tr>        
     </tbody>
  </table>
</div>
</div>
</body>
</html>

<script>
$(document).ready(function(){
    $(".com_list tr:odd").css("background","#F0F0F0");
});
</script>