<html lang="en"><head>
<meta charset="utf-8">
<title>添加部门</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
     <h1 class="page-header">添加部门</h1>
     <!-- 部门列表开始 -->
     <form action="{:U('Depart/add_dp')}" method="post">
       <table class="table_form">
         <tr>
           <td width="30%" align="right">部 门 名 称：</td>
           <td width="70%"><input type="text" name="name" class="form-control"></td>
         </tr>
         <tr>
           <td align="right">所 属 部 门：</td>
           <td>
               <select name='parent_id' class="form-control">
                   <option value="0">无</option>
              <!-- <foreach  name="depa_list" item="dp_list"> -->
                   <option value="{$dp_list.id}">{$dp_list.name}</option>
              <!-- </foreach> -->	
              </select>
           </td>
         </tr>
          <tr>
           <td align="right">部门管理者：</td>
           <td>
               <select name="user_id" class="form-control">
                     <!-- <foreach  name="user_list" item="user_list"> -->
                       <option value="{$user_list.id}">{$user_list.realname}</option>
                     <!-- </foreach> -->
               </select>
           </td>
         </tr>
         <tr>
            <td></td>
           <td><input type="submit" value="添加" class="btn btn-primary"> </td>
         </tr>				   
          
       </table>   
    </form>
    <!-- 部门列表结束-->
   </div>
</div>   
</body>
</html>