<html lang="en"><head>
<meta charset="utf-8">
<title>域名续费申请</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
  <div class="b right_next">
       <h1 class="page-header">域名续费申请</h1>
       <form action="{:U('Domren/insert')}" method="post">           
          <table class="table_form">
              <tr>
                <td width="30%" align="right"> &nbsp;&nbsp;域 &nbsp;&nbsp;&nbsp;名 &nbsp; ： </td>
                <td width="70%">  
                 <input type="hidden" name="domain_id" value="{$domain_mess.id}" />{$domain_mess.domain}                                                    
                </td>
              </tr>
              <tr>
                <td align="right">域名运营商：</td>
                <td>{$domain_mess.service}</td>
              </tr>
              <tr>
                <td align="right">续 费 金 额：</td>
                <td><input type="text" name="money" class="form-control"></td>
              </tr>
              <tr>
                <td align="right">付 款 时 间：</td>
                <td><input type="text" name="pay_time" value="{:date('Y/m/d H:i:s',$pay_time)}" class="form-control"></td>
              </tr>
               <tr>
                <td align="right"> 申  &nbsp; 请  &nbsp; 人 ：</td>
                <td>
                    <select name="user_id" class="form-control">
                      <!-- <foreach name="user_list" item="user"> -->
                       <option value="{$user['id']}">{$user['realname']}</option>
                      <!-- </foreach> -->
                    </select>
                </td>
              </tr>
              <tr>
                <td align="right">注 册 时 间：</td>
                <td><input type="hidden" name="reg_time" value="{$domain_mess.reg_time}" class="form-control">{:date('Y/m/d H:i:s',$domain_mess['reg_time'])}</td>
              </tr>
              <tr>
                <td align="right">过 期 时 间：</td>
                <td><input type="hidden" name="expired_time" value="{$domain_mess.expired_time}" class="form-control">{:date('Y/m/d H:i:s',$domain_mess['expired_time'])}</td>
              </tr>
              <tr>
                <td align="right">续 费 年 限：</td>
                <td>
                   <select name="year" class="form-control">
                       <option value="1">一年</option>
                       <option value="2">二年</option>
                       <option value="3">三年</option>
                       <option value="4">四年</option>
                       <option value="5">五年</option>
                   </select>
                </td>
              </tr>
              <tr>
                <td align="right">域 名 状 态：</td>
                <td>
                    <!-- <if condition="$domain_mess['status'] eq -1 "> -->删除
                    <!-- <elseif condition="$domain_mess['status'] eq 0 " /> -->禁用
                    <!-- <else /> --> 正常<!-- </if> -->
                </td>
              </tr>                 
              <tr>
                <td></td>
                <td><input type="submit" name="Submit" value=" 申请 " class="btn btn-primary"></td>
              </tr>
        </table>                              
       </form>
   </div>
</div>
</body>
</html>