body{ margin:0; padding:0; FONT-FAMILY: '微软雅黑',Microsoft YaHei,Verdana, Arial,'宋体', Tahoma,Simsun, Arial Unicode MS, Mingliu,  Helvetica;}
/*body,a,span,td,a{ font-size:12px; }*/
/*body{ background:#c8c8c8; }*/
UL {TEXT-ALIGN: left; PADDING: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; }
LI {TEXT-ALIGN: left; PADDING: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; }
a{ color:#666666; text-decoration:none; }
a:hover{ color:#FF0000;  text-decoration:none; }
img{ border:0; }
table{ margin:0 auto;}

.b{ border:1px solid #CCCCCC; }
.pad10{ padding:10px; }
.padTop10{ padding-top:10px; }
.fontred{ color:red; padding-left:10px;}

/***右边部分样式**/
.right{ min-height:600px; width:755px; margin:0 auto; background:#FFF;}
.r_c1_title{  height: 38px; color:#FFF; border-bottom:1px solid #ccc; }
.r_c1_title span{width: 753px; height: 38px; display: block; float: left; margin: 1px; background: #1C86CF; font-size:15px !important; line-height:38px;}
.r_c1_title font{ float:left;}
#cust_form tr{ line-height:30px; font-size:14px; letter-spacing: 3px;}
.button_submit{ background: url(../images/submit_bg.png) no-repeat; width:60px; height:30px; border:0; color: #FFF;}
.tishi{font-size: 12px; color: #F00; width:700px; margin:0 auto; display: block;}