@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; FONT-FAMILY: '微软雅黑',Microsoft YaHei,Verdana, Arial,'宋体', Tahoma,Simsun, Arial Unicode MS, Mingliu,  Helvetica;}
body,a,span,td,a{ font-size:12px; }
body{ background:#5592be;}
UL {TEXT-ALIGN: left; PADDING: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; }
LI {TEXT-ALIGN: left; PADDING: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; }
a{ color:#666666; text-decoration:none; }
a:hover{ color:#FF0000;  text-decoration:none; }
img{ border:0; }

.b_b{ border-bottom:1px solid #CCCCCC; }
.pad10{ padding:10px; }
.padTop10{ padding-top:10px; }
.lineH2{ line-height:2; }

#loginbody { background:url(../images/logo_bg.jpg) no-repeat;}
.loginbox {margin: 150px auto 0; }
.login_copyright {margin-top: 100px; color: #3d9dd1; font-size:13px; text-align: center;}

.logo{ }
.account{ }
.password{}
.verify img{ +width:85px; +margin-top:10px;}
.input_a{  line-height:20px; font-size:14px; border:0px; height: 20px; outline:none; }
.btn_submit{  height:46px; text-align:left;}
.btn_submit input{ +height:42px;}
.btn_submit input{ margin-left:20px; margin-top:5px;}
.login_table td{ line-height:42px; height:42px;}