<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>网站订单列表</title>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden; background: #f2f2f2;">
   <div class="center_content">
      <table width="755" bgcolor="#fff" cellpadding="0" cellspacing="0">
          <tr>
            <td class="menu"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32" /><font>分单</font></span></td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
          	<td>
          	    <table cellpadding="0" cellspacing="0" class="xin_table">
					<tr><td width="80"> 订 单 名 称：</td><td>{$cname.cname}</td></tr>
					<tr><td>  分  配 人 员：</td><td><!-- <foreach name="data" item="list"> -->	{$list.realname}<!-- </foreach> -->	</td></tr>
					<tr><td colspan="2"> 
						<form method="post" action="{:U('Developuser/add_pu?oid='.$id)}">
							<select name="user" class="search_bg">
							<!-- <foreach name="users" item="list"> -->
								<option value="{$list.id}">{$list.realname}</option>
							<!-- </foreach> -->	
							</select>
							<input type="hidden" value="{$id}" name="oid" > 
							<input type="submit" value="分配" class="button_submit">
						</form>
			        </td></tr>					
				</table>                 	
          	</td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
    </table> 
   </div>
</div>   
</body>
</html>