<html lang="en"><head>
<meta charset="utf-8">
<title>网站开发订单推送</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
      <h1 class="page-header">网站开发订单推送</h1>
      <div class="table-responsive">
      <table class="table_form">
          <tr>
            <td>
				<!-- 推送表开始 -->
				<form method="post" action="{:U('Order/push')}">
					<select name="dp" class="form-control">
					<!-- <foreach name="dp" item="list"> -->
						<option value="{$list.id}">{$list.name}</option>
					<!-- </foreach> -->	
					<input type="hidden" value="{$id}" name="id" >
					<input type="submit" value="推送" class="btn btn-primary">
					</select>
				</form>
				<!-- 推送结束-->
			</td>
          </tr>
    </table> 
   </div>
</div>   
</body>
</html>