<html lang="en"><head>
<meta charset="utf-8">
<title>订单付费添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
      <h1 class="page-header">订单付费添加</h1>
        <!-- 订单详情开始 -->            
         <div class="table-responsive">
            <table class="table table-bordered table-hover">
             <tbody>
				  <tr><th colspan="4"> 基 本 信 息 </th></tr>	
				  <tr>
				    <td> 销 售 专 员 ：</td>
				    <td>{$orderlinfo.uname}</td>
				    <td> 审 核 结 果 ：</td>
				    <td>
                    <!-- <if condition="$orderinfo.check eq 1"> -->通过
                    <!-- <elseif condition="$orderinfo.check eq 0"/> -->待审
                    <!-- <else/> -->拒绝<!-- </if> -->
                    </td>
				  </tr>
				  <tr>
				    <td> 合 同 编 号 ：</td>
				    <td>{$orderlinfo.id}</td>
				    <td> 公 司 名 称 ：</td>
				    <td>{$orderlinfo.cname}</td>
				  </tr>
				  <tr>
				    <td> 购 买 产 品 ：</td>
				    <td>{$orderlinfo.pname}( {$orderlinfo.time_limit} 年)</td>
				    <td> 订 单 金 额 ：</td>
				    <td>{$orderlinfo.money}元</td>
				  </tr>
				  <tr>
				    <td> 联 系 电 话 ：</td>
				    <td>{$orderlinfo.phone}</td>
				    <td> 传　　　真：</td>
				    <td>{$orderlinfo.fax}</td>
				  </tr>
				  <tr>
				    <td> 联&nbsp;&nbsp;系&nbsp;&nbsp;人：</td>
				    <td>{$orderlinfo.contacts}</td>   
				    <td> 订 单 状 态：</td>
				    <td>
				    	<!-- <if condition="$orderinfo.status eq 1"> -->
				    	正常
				    	<!-- <elseif condition="$orderinfo.status eq 0"/> -->
				    	禁用
				    	<!-- </if> -->
				    </td>
				  </tr>
				  <tr>
				  	<td> 签 单 日 期：</td>
				    <td>{:date('Y/m/d H:i:s',$orderlinfo['signed_time'])}</td>
				    <td> 到 期 时 间：</td>
				    <td>{:date('Y/m/d H:i:s',$orderlinfo['expired_time'])}</td>
				  </tr>
				</table>	
				<!-- 订单详情结束 -->    
                
    <form action="{:U('Orderpay/ad_record?id='.$orderlinfo['id'])}" method="post" name="form1" id="form1" >               
       <table class="table table-bordered">
           <tr><th colspan="2">添加订单付款记录</th></tr>  
           <tr>
             <td width="30%" align="right">金额：</td>
             <td><input type="text" name="money" class="form-control"></td>
           </tr>   
           <tr>
             <td align="right">时间：</td>
             <td><input type="text" name="pay_time" class="form-control"></td>
           </tr> 
           <tr>
             <td align="right"></td>
             <td><input type="submit" value="添加" class="btn btn-primary"></td>
           </tr>             
     </table>   
    </form>
   </div>
</div>   
</body>
</html>