<html lang="en"><head>
<meta charset="utf-8">
<title>订单付费修改</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
     <h1 class="page-header">订单付费修改</h1>
        <!-- 订单付费详情开始 -->
        <form method="post" action="{:U('Orderpay/up?id='.$opinfo['op_id'])}">
          <table class="table_form">
            <tr>
              <td width="30%" align="right"> 客 户 名 称 ：</td>
              <td width="70%">{$opinfo.cname}</td>
            </tr>
            <tr>
              <td align="right"> 付 款 金 额：</td>
              <td><input type="text" name="money" value="{$opinfo.money}" class="form-control"></td>
            </tr>
            <tr>
              <td align="right"> 付 款 日 期：</td>
              <td><input type="text" name="pay_time" value="{:date('Y/m/d H:i:s',$opinfo['pay_time'])}" class="form-control"></td>
            </tr>   
            <tr>
           	 <td align="right">付款类型：</td>
           	 <td><select name="type" class="form-control">
           	 	 <!-- <if condition="$opinfo.class eq 1"> -->
           	 	 <option value="1">预付款</option>
           	 	 <!-- <elseif condition="$opinfo.class eq 2"/> -->
           	 	 <option value="2">余款</option>
           	 	 <!-- </if> -->
           	 	 <option value="2">余款</option>
           	 	 <option value="1">预付款</option>
           	 </select></td>	
           </tr>          
            <tr>
              <td align="right"> &nbsp;提 &nbsp;交 &nbsp;人 ：</td>
              <td>{$opinfo.uname}</td>
            </tr>
            <tr>
              <td align="right">
                <input type="submit" value="提交" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
              <td>
                <input type="submit" value="取消" class="btn btn-primary">
              </td>
            </tr>
          </table>
        </form>
        <!-- 订单付费详情结束-->
    </div>
</div>
</body>
</html>