<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>洛阳万谦网络科技有限公司</title>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body bgcolor="f2f2f2">
<div style="height:83px;  background:url(__IMG__/topBg.jpg);"></div>
<div class="wrapper">
    <!-- content -->
    <div class="content">
        <!-- menu -->
        <div class="Menu">            
            <div style="background:url(__IMG__/top_img.jpg) no-repeat; width:217px; height:8px;">
            </div>
            <!--<dl id="_menuindex">
                <dt class="slides">分类名称</dt>
                <dd><a href="{:U('Index/welcome')}" target="main">首页</a></dd>
            </dl>-->
            <dl id="_menuteam">
                <dt class="slides"><span>会员管理</span></dt>
                <dd><span></span><a href="{:U('Levelup/lists?bef=0&status=1')}" target="main">待审新会员</a></dd>
                <dd><span></span><a href="{:U('Levelup/lists?bef=0&status=3&tpl=listb0s3')}" target="main">已审新会员</a></dd>
                <dd><span></span><a href="{:U('Levelup/lists?bef=0&status=2&tpl=listb0s2')}" target="main">被拒绝新会员</a></dd>
                <dd><span></span><a href="{:U('Member/lists')}" target="main">会员列表</a></dd>
                <dd><span></span><a href="{:U('Member/lists?level=0&tpl=listl0')}" target="main">临时会员列表</a></dd>
                <dd><span></span><a href="{:U('Member/atlas')}" target="main">会员图谱</a></dd>
            </dl>
            <dl id="_menubusiness">
                <dt class="slides"><span>升级管理</span></dt>
                <dd><span></span><a href="{:U('Levelup/lists?status=1&tpl=lists1')}" target="main">待审升级记录</a></dd>
                <dd><span></span><a href="{:U('Levelup/lists?status=3&tpl=lists3')}" target="main">已审升级记录</a></dd>
                <dd><span></span><a href="{:U('Levelup/lists?status=2&tpl=lists2')}" target="main">拒绝升级记录</a></dd>
                <dd><span></span><a href="{:U('Levelup/lists?type=2&tpl=listt2')}" target="main">积分升级记录</a></dd>
	        </dl>
            <dl id="_menufinance">
                <dt class="slides"><span>财务中心</span></dt>
                <dd><span></span><a href="{:U('Bonus/lists')}" target="main">会员奖金记录</a></dd>
                <dd><span></span><a href="{:U('Cash/lists?status=1')}" target="main">待审提现记录</a></dd>
                <dd><span></span><a href="{:U('Cash/lists?status=3')}" target="main">已审提现记录</a></dd>
                <dd><span></span><a href="{:U('Cash/lists?status=2')}" target="main">拒绝提现记录</a></dd>
	        </dl>
            <dl id="_menuconfig">
                <dt class="slides"><span>系统设置</span></dt>
                <dd><span></span><a href="{:U('Config/info')}" target="main">系统配置信息</a></dd>
            </dl>
            <dl id="_menulog">
                <dt class="slides"><span>文章管理</span></dt>
                <dd><span></span><a href="{:U('Article/add')}" target="main">添加文章</a></dd>
                <dd><span></span><a href="{:U('Article/lists?category=公告')}" target="main">公告列表</a></dd>
                <dd><span></span><a href="{:U('Article/lists?category=新闻')}" target="main">新闻列表</a></dd>
                <dd><span></span><a href="{:U('Article/read?category=产品介绍')}" target="main">产品介绍</a></dd>
                <dd><span></span><a href="{:U('Article/read?category=联系我们')}" target="main">联系我们</a></dd>
                <dd><span></span><a href="{:U('Article/read?category=用户欢迎页')}" target="main">用户欢迎页</a></dd>
	        </dl>
            <div style="background:url(__IMG__/bottom_img.jpg) no-repeat; width:217px; height:11px;">
            </div>
        </div>
        <!-- end menu -->
        <div class="right">
        <iframe id="main" onload="Javascript:SetCwinHeight()" name="main" src="{:U('Index/welcome')}" style="border: none;" border="0" scrolling="no" width="100%" height="auto"></iframe>


        </div>
        <div style="clear:both;"></div>
    </div>
    <!-- end content -->
    <!-- foot -->
	<div class="foot">
          <div class="footer">Copyright&copy;2010 &nbsp;&nbsp; 万谦网络科技&nbsp;&nbsp;  All Rights Reserved  &nbsp;&nbsp;版权所有 </div> 
    </div>
    <!-- end foot -->
</div>
<script type="text/javascript">
function SetCwinHeight() {
    var iframeid = document.getElementById("main"); //iframe id
    if (document.getElementById) {
        if (iframeid && !window.opera) {
            if (iframeid.contentDocument && iframeid.contentDocument.body.scrollHeight) {
                iframeid.height = iframeid.contentDocument.body.scrollHeight;
            } else if (iframeid.Document && iframeid.Document.body.offsetHeight) {
                iframeid.height = iframeid.Document.body.offsetHeight;
            }
        }
    }
}
$(function ($) {
	$(".bat_a_handle").click(function(){
		$(this).RSsubmit({success_alert:true,reload:true});
		return false;
	});
	$("#main").resize(function(){
		SetCwinHeight();
	})
	
    MenuShow("_menuindex");
    $("#righttitle").css("display", "none");
    
    $(".Menu dl dt").click(function () {
        MenuShow($(this).parent().attr("id"));
    });
    $(".table tbody tr").mouseover(function () { $(this).css("backgroundColor", ""); });
    $(".table tbody tr").mouseout(function () { $(this).css("backgroundColor", ""); });
});
function MenuShow(id) {
    $(".Menu dl").find("dd").slideUp(500);
    $(".Menu dl dt").attr("class", "slides");
    $("#" + id + " dt").attr("class", "slides2");
    $("#" + id).find("dd").slideDown(300);
	$(".Menu dl").find("dd:last").css("padding-bottom","10px");
}
</script>


</body>
</html>