<html lang="en"><head>
<meta charset="utf-8">
<title>欢迎页</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
      <h1 class="page-header">登陆首页</h1>
      
   </div>
</div>
</body>
</html>
