<html lang="en"><head>
<meta charset="utf-8">
<title>管理者列表</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">
function info(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){								
			var id=$(this).val();		
            var url="__URL__-order_info-id-"+id;
            location.href=url;
			}
		});
}
function push(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){								
			var id=$(this).val();		
            var url="__URL__-push_form-id-"+id;
            location.href=url;
			}
		});
}
</script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
      <h1 class="page-header">管理者列表</h1>
      <div class="top_search">
        <a href="{:U('Userdepartmgr/ad_form')}" style="float:right" class="btn btn-primary">添加管理者</a>
      </div>
            <!-- 订单列表开始 -->
             <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table_center">
                  <thead>
					<tr>
						<th width="35%">管理人员</th>
						<th width="35%">部门</th>
						<th width="30%">操作</th>
					</tr>	
                   </thead>
                   <tbody>
				   <!-- <foreach name="ugs" item="list"> -->
					<tr>
						<td>{$list.uname}</td>
						<td>{$list.dname}</td>
						<td><a href="{:U('Userdepartmgr/del?uid='.$list['uid'].'&& did='.$list['did'])}" >取消</a></td>
					</tr>
				   <!-- </foreach> -->
                  </tbody>
				</table>
             </div>
			<!-- 订单列表结束-->
   </div>
</div>   
</body>
</html>