<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>万谦erp</title>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden; background: #f2f2f2;">
   <div class="center_content">
      <table width="755" bgcolor="#fff" cellpadding="0" cellspacing="0">
          <tr>
            <td class="menu"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32" /><font>产品列表</font></span></td>
          </tr>
          <tr>
            <td class="menu_content">
<!-- 订单列表开始 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="info_list">
	<tr>
		<th>编号</th>
		<th>产品名称</th>
		<th>状态更改</th>
		<th>操作 <a href="{:U('Product/ad_pro_form')}">添加产品</a></th>
	</tr>
<!-- <foreach name="pro_list" item="list"> -->   
	<tr class="list_tr">
		<td>{$list.id}</td>
		<td>{$list.name}</td>
		<td>
				<!-- <if condition="$list.status eq 1"> -->
				<a href="{:U('Product/stop?id='.$list['id'])}"><img src="__PUBLIC__/images/yes.gif"></a>
				<!-- <else/> -->
				<a href="{:U('Product/star?id='.$list['id'])}"><img src="__PUBLIC__/images/no.gif"></a>
				<!-- </if> -->
		</td>
		<td><a href="{:U('Product/pro_info?id='.$list['id'])}">详情</a> <a href="{:U('Product/del_pro?id='.$list['id'])}">删除</a></td>
	</tr>
<!-- </foreach> -->  
	<tr><td colspan="8" align="center">{$data[show]}</td></tr>
</table>
<!-- 订单列表结束-->
			</td>
          </tr>
          <tr>
            <td class="notice"><img style="float:left; margin-left:10px;" src="__IMG__/notice_img.png" /><span>公司通知</span></td>
          </tr>
    </table> 
   </div>
</div>   
</body>
</html>