<html lang="en"><head>
<meta charset="utf-8">
<title>修改产品</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
      <h1 class="page-header">产品修改</h1>
      <table class="table_form">
          <tr>
            <td>
				<!-- 产品信息开始 -->
				<form action="{:U('Product/up_info?id='.$proinfo['id'])}" method="post">
					产品名称：<input type="text" name="name" value="{$proinfo.name}" class="form-control">
				    <input type="submit" value="修改" class="btn btn-primary">      
				</form>				
				<!-- 产品信息结束-->
			</td>
          </tr>
    </table> 
   </div>
</div>   
</body>
</html>