<html lang="en"><head>
<meta charset="utf-8">
<title>用户列表</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">
function info(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){								
			var id=$(this).val();		
            var url="__URL__-user_info-id-"+id;
            location.href=url;
			}
		});
}
function del(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){								
			var id=$(this).val();
			var url="__URL__-del_user-id-"+id;
            location.href=url;
			}
		});
}
</script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
      <h1 class="page-header">用户列表</h1>
      <!-- 搜索开始 -->
       <div class="top_search">
           <form action="{:U('User/search_list')}" method="get" class="search_form" name="search">
                <select name="depart" class="form-control">
                    <option value="">所有部门</option>
                    <!-- <foreach  name="depa_list" item="dp_list"> -->
                    <option value="{$dp_list.id}">{$dp_list.name}</option>
                    <!-- </foreach> -->	
                </select>
                关键字  <input type="text" name="key" class="form-control">
                <input type="submit" value="搜索" class="btn btn-primary">
                <a href="javascript:void(0)" class="btn btn-primary" onclick="info();">详情</a>	
                <a href="javascript:void(0)" class="btn btn-primary" onclick="del();">删除</a>	
                 <a href="{:U('User/ad_user_form')}" class="btn btn-primary">添加用户</a>
           </form> 
       </div>            
       <!-- 搜索结束 -->
        <!-- 订单列表开始 -->
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table_center">
              <thead>
                <tr>
                    <th width="8%">请选择</th>
                    <th width="11%">用户名</th>
                    <th width="11%">姓名</th>
                    <th width="15%">职位</th>
                    <th width="15%">所属部门</th>
                    <th width="20%">入职时间</th>
                    <th width="12%">权限</th>
                    <th width="8%">状态</th>
                </tr>
              </thead>
              <tbody>
              <!-- <foreach name="data['order_list']" item="list"> -->   
                <tr>
                    <td><input type="checkbox" name="che[]" value="{$list.id}"></td>
                    <td>{$list.account}</td>
                    <td>{$list.realname}</td>
                    <td>{$list.position}</td>
                    <td>{$list.dname}</td>
                    <td>{:date('Y/m/d H:i:s',$list['startime'])}</td>
                    <td>{$list.title}</td>
                    <td>
                        <!-- <if condition="$list.status eq 1"> -->
                        <a href="{:U('User/stop?id='.$list['id'])}"><img src="__PUBLIC__/images/yes.gif"></a>
                        <!-- <else/> -->
                        <a href="{:U('User/star?id='.$list['id'])}"><img src="__PUBLIC__/images/no.gif"></a>
                        <!-- </if> -->
                    </td>
                </tr>
              <!-- </foreach> -->  
             </tbody>
             <tfoot>
                <tr>
                  <td colspan="8" align="center" class="page">{$data[show]}</td>
                </tr>
              </tfoot>
			</table>
          </div>
		<!-- 订单列表结束-->
   </div>
</div>   
</body>
</html>