<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户详情</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>用户详情</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="tishi">头部提示信息：时间格式：2000/01/01 00:00:00</font></td>
      </tr>      
      <tr>
        <td align="center">
        <!-- 用户详情开始 -->          
        <form method="post" action="{:U('User/up?id='.$info['id'])}">       
            <table border="0" style="margin-top:50px;" class="user_info">
                  <tr>
                    <td>用 户 名 ：</td>
                    <td><input type="text" value="{$info.uname}" name="uname"></td>
                  </tr>
                  <tr>
                    <td>真实姓名：</td>
                    <td><input type="text" value="{$info.name}" name="name"></td>
                  </tr>
                  <tr>
                    <td>性 &nbsp;&nbsp;&nbsp; 别：</td>
                    <td>
                       <!-- <if condition="$info.sex eq 1"> -->
	                       <input name="sex" type="radio" value="1" checked/>男
	                       <input name="sex" type="radio" value="2"/>女
					   <!-- <else/> -->
						   <input name="sex" type="radio" value="1" />男
	                       <input name="sex" type="radio" value="2" checked/>女
					   <!-- </if> -->
                    </td>
                  </tr>
                  <tr>
                    <td>所属部门：</td>
                    <td><select name="dp">
                    	 <option value="{$info.dpid}">{$info.dpname}</option>
                    <!-- <foreach name="departs" item="dp_list"> --> 
                    		<option value="{$dp_list.id}">{$dp_list.name}</option>
                    <!-- </foreach> --> 		
                    	</select>
                  </tr>
                  <tr>
                    <td>职 &nbsp;&nbsp;&nbsp; 位：</td>
                    <td><input type="text" value="{$info.position} " name="position"></td>
                  </tr>
                  <tr>
                    <td>入职时间：</td>
                    <td><input type="text" value="{:date('Y/m/d H:i:s',$info['startime'])}" name="startime"></td>
                  </tr>
                  <tr>
                    <td>出生日期：</td>
                    <td><input type="text" value="{:date('Y/m/d H:i:s',$info['birthday'])}" name="birthday"></td>
                  </tr>
                  <tr>
                    <td>所属用户组：</td>
                    <td><select name="auth_group">
                    	 <option value="{$info.group_id}">{$info.group_title}</option>
                    <!-- <foreach name="groups" item="gp_list"> --> 
                    		<option value="{$gp_list.id}">{$gp_list.title}</option>
                    <!-- </foreach> --> 		
                    	</select>
                  </tr>
            </table>  
            <input type="hidden" value="{$info.id}" name="id">
            <input type="submit" value="修改" class="button_submit">　　<a href="{:U('User/search_list')}" class="button_submit">返回</a>
       </form>                                 
    <!-- 用户详情结束 -->            
        </td>
      </tr>
     </tbody>
  </table>
</div>
</body>
</html>