<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户详情</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>用户详情</font></span></td>
      </tr>
      <tr>
        <td align="center">
        <!-- 用户详情开始 -->                 
            <table border="0" style="margin-top:50px;" class="user_info">
                  <tr>
                    <td>用 户 名 ：</td>
                    <td>{$info.uname}</td>
                  </tr>
                  <tr>
                    <td>真实姓名：</td>
                    <td>{$info.name}</td>
                  </tr>
                  <tr>
                    <td>性 &nbsp;&nbsp;&nbsp; 别：</td>
                    <td>
                       <!-- <if condition="$info.sex eq 1"> -->男	
					   <!-- <else/> -->女<!-- </if> -->
                    </td>
                  </tr>
                  <tr>
                    <td>所属部门：</td>
                    <td>{$info.dpname} </td>
                  </tr>
                  <tr>
                    <td>职 &nbsp;&nbsp;&nbsp; 位：</td>
                    <td>{$info.position}</td>
                  </tr>
                  <tr>
                    <td>入职时间：</td>
                    <td>{$info.startime}</td>
                  </tr>
                  <tr>
                    <td>出生日期：</td>
                    <td>{$info.birthday}</td>
                  </tr>
            </table>                              
    <!-- 用户详情结束 -->            
        </td>
      </tr>
     </tbody>
  </table>
</div>
</body>
</html>