<html lang="en"><head>
<meta charset="utf-8">
<title>优化列表</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">
function info(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){								
			location.href=$(this).next(".cust_id").attr('data-url');
			}
		});
}
function push(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){								
			location.href=$(this).nextAll(".push").attr('data-url');
			}
		});
}
</script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
    <h1 class="page-header">优化列表</h1>
     <!-- 搜索开始 -->
      <div class="top_search">
         <form action="{:U('Seoord/seo_list')}" method="get" class="search_form" name="search">
            <select name="check" class="form-control">
                <option value="">是否分配</option>
                <option value="1">已分配</option>
                <option value="2">未分配</option>
            </select>
            关键字 <input type="text" name="key" class="form-control">
            <input type="submit" value="搜索" class="btn btn-primary">
            <a href="javascript:void(0)" class="btn btn-primary" onClick="info();">详情</a>	
            <a href="javascript:void(0)" class="btn btn-primary" onClick="push();">推送</a>
        </form> 
      </div>            
     <!-- 搜索结束 -->
     <div class="table-responsive">
       <table class="table table-striped table-bordered table-hover table_center">
        <thead>
          <tr>
               <!-- 订单列表开始 -->
                <th>请选择</th>
                <th>客户</th>
                <th>联系人</th>
                <th>联系方式</th>
                <th>金额</th>
                <th>销售</th>
                <th>分配</th>
            </tr>
          </thead>
          <tbody>
           <!-- <foreach name="data['dep_list']" item="list"> -->
            <tr>
                <td><input type="checkbox" name="che[]" value="{$list.id}">
                     <input type="hidden" name="cust_id" class="cust_id" value="{$list.cust_id}" data-url="{:U('Seoord/seo_info?id='.$list['id'].'&cust_id='.$list['cust_id'])}">
                     <input type="hidden" name="cust_id" class="push" value="{$list.cust_id}" data-url="{:U('Seoord/push_form?id='.$list['id'].'&cust_id='.$list['cust_id'])}">
                </td>
                <td class="text_left">{$list.cname|mb_substr=0,54}</td>
                <td>{$list.contacts}</td>
                <td>{$list.phone}</td>
                <td>{$list.money}元</td>
                <td>{$list.rname}</td>
                <td>
                    <!-- <if condition="$list.checks eq 1"> -->
                    <a href="{:U('Seoord/dist?id='.$list['id'].'&cust_id='.$list['cust_id'])}">已分配</a>
                    <!-- <elseif condition="$list.checks eq 0"/> -->
                        <a href="{:U('Seoord/dist?id='.$list['id'].'&cust_id='.$list['cust_id'])}">未分配</a>
                    <!-- <else/> -->失效<!-- </if> -->
                </td>
            </tr>
        <!-- </foreach> -->
        </tbody>
	    <tfoot>
           <tr>
             <td colspan="9" align="center" class="page">{$data[show]}</td>
           </tr>
        </tfoot>
       <!-- 订单列表结束-->
      </table> 
   </div>
</div>   
</body>
</html>