<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加订单</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>添加订单</font></span></td>
      </tr>
      <tr>
        <td align="center">
           <form action="{:U('Order/add_order')}" method="post" name="form1" id="form1" >           
            <table width="500" border="0" style="margin-top:50px;">
                  <tr>
                    <td width="100">客户名称：</td>
                    <td width="400">                                     
		                <select name='cusid'>
    					<!-- <foreach  name="cus_list" item="c_list"> -->
    					<option value="{$c_list.id}">{$c_list.name}</option>
    					<!-- </foreach> -->	
    					</select>          	                                                 
                    </td>
                  </tr>
                  <tr>
                    <td width="100">金 &nbsp;&nbsp;&nbsp; 额：</td>
                    <td width="400"><input type="text" name="money"><font class="fontred" id="money">*</font></td>
                  </tr>
                  <tr>
                    <td>产 &nbsp;&nbsp;&nbsp; 品：</td>
                    <td>
                    	<select name='proid'>
    					<!-- <foreach  name="p_list" item="p_list"> -->
    					<option value="{$p_list.id}">{$p_list.name}</option>
    					<!-- </foreach> -->	
    					</select>
                    	<font class="fontred" id="namets">*</font>
                    </td>
                  </tr>
                  <tr>
                    <td>录 入 人：</td>
                    <td><input type="text" name="userid" value='12'></td>
                  </tr>
                  <tr>
                    <td>年 &nbsp;&nbsp;&nbsp; 限：</td>
                    <td>
						<select name='year'>
    					<option value="1">服务一年</option>
    					<option value="2">服务二年</option>
    					<option value="3">服务三年</option>
    					<option value="4">服务四年</option>
    					<option value="5">服务五年</option>
    					</select>
					</td>
                  </tr>
                  <tr>
                    <td>域 &nbsp;&nbsp;&nbsp; 名：</td>
                    <td><input type="text" name="domain"></td>
                  </tr>
                  <tr>
                    <td>备  &nbsp;&nbsp;&nbsp; 注：</td>
                    <td><textarea name="remark" cols="40" rows="2"></textarea></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" name="Submit" value=" 添加 " class="button_submit"></td>
                  </tr>
            </table>                              
           </form>
        </td>
      </tr>
     </tbody>
  </table>
</div>
</body>
</html>