<html lang="en"><head>
<meta charset="utf-8">
<title>添加订单</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">	
function checkname(){
		var name=$('#name').val();	
		if( (name == "") )
		{
			alert("请输入要查询的公司名称！");			
		}else{
		  $.ajax({    
		        type:'get',        
		        url:'__URL__-search',    
		        data:'name='+name,    
		        cache:false,    
		        dataType:'html',    
		        success:function(list){ 
		        	window.open ('__URL__-search-name-'+name,'newwindow', 'height=500, width=700, scrollbars=yes, resizable=yes');
		        }    
		    }); 
		}
}
</script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
 <div class="b right_next">
  <h1 class="page-header">添加订单</h1>
     <form action="{:U('Order/add_order')}" method="post" name="form1" id="form1">           
        <table class="table_form">
              <tr>
                <td width="30%" align="right">客户名称：</td>
                <td width="30%">                            	   
                    <!-- <empty name="cus"> -->
                       <input type="text" name="name" id="name" class="form-control" />&nbsp;&nbsp;                       
                        <!-- <else/> -->
                        <input type="text" class="form-control" style="width: 200px !important;" name="{$cus.id}" value="{$cus.name}" />                 
                        <input type="hidden" class="form-control" name="cusid" value="{$cus.id}">
                        <!-- </empty> -->	                                                
                </td>
                <td width="5%" rowspan="8"></td>
                <td width="35%" rowspan="8">&nbsp;&nbsp;选择客户<br/><hr/><iframe width="300" height="400" scrolling="Yes" frameborder="0" src="{:U('Order/search')}"></iframe></td>
              </tr>
              <tr>
                <td align="right">金 &nbsp;&nbsp;&nbsp; 额：</td>
                <td><input type="text" name="money" class="form-control"><font class="red" id="money"> * </font></td>
              </tr>
              <tr>
                <td align="right">预付款：</td>
                <td><input type="text" name="yfk" class="form-control"><font class="red" id="money"> * </font></td>                  
              </tr>	
              <tr>
                <td align="right">产 &nbsp;&nbsp;&nbsp; 品：</td>
                <td>
                    <select name='proid' class="form-control">
                    <!-- <foreach  name="p_list" item="p_list"> -->
                    <option value="{$p_list.id}">{$p_list.name}</option>
                    <!-- </foreach> -->	
                    </select>
                    <font class="red" id="namets"> * </font>
                </td>
              </tr>
              <tr>
                <td align="right">签单员工：</td>
                <td>
                <select name="userid" class="form-control">
                <!-- <foreach name="user_list" item="ulist"> -->
                    <option value="{$ulist.id}">{$ulist.realname}</option>
                <!-- </foreach> -->
                </select>
                </td>
              </tr>
              <tr>
                <td align="right">年 &nbsp;&nbsp;&nbsp; 限：</td>
                <td>
                    <select name='time_limit' class="form-control">
                    <option value="1">服务一年</option>
                    <option value="2">服务二年</option>
                    <option value="3">服务三年</option>
                    <option value="4">服务四年</option>
                    <option value="5">服务五年</option>
                    </select>
                </td>
              </tr>
              <tr>
                <td align="right">备  &nbsp;&nbsp;&nbsp; 注：</td>
                <td><textarea name="remark" cols="40" rows="8" class="form-control"></textarea></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="Submit" value=" 添加 " class="btn btn-primary"></td>
              </tr>
        </table>                              
     </form>
  </div>
</div>
</body>
</html>