<html lang="en"><head>
<meta charset="utf-8">
<title>订单列表</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">
function info(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){	
			location.href=$(this).next(".cust_id").attr('data-url');
			}
		});
}
//添加订单   跳转 
function Add_order(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){	
			location.href=$(this).nextAll(".adds").attr('data-url');
			}
		});
}
//推送订单
function push(){
	$("input[name='che[]']").each(function(){
		if($(this).attr("checked")=="checked"){	
			location.href=$(this).nextAll(".push").attr('data-url');
			}
		});
}
</script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
   <div class="b right_next">
     <h1 class="page-header">订单列表</h1>
     <font class="red tishi">头部提示信息：每个订单只可向一个部门推送一次,请谨慎操作！</font>
     <div class="top_search">
        <form action="{:U('Order/order_list')}" method="get" class="search_form" name="search">
            <select name="product" class="form-control">
                <option value="">所有产品</option>
                <!-- <foreach  name="pro_list" item="po_list"> -->
                <option value="{$po_list.id}">{$po_list.name}</option>
                <!-- </foreach> -->	
            </select>
            <select name="check" class="form-control">
                <option value="">审核状态</option>
                <option value="1">审核通过</option>
                <option value="2">未审核</option>
            </select>
            关键字  <input type="text" name="key" class="form-control">
            <input type="submit" value="搜索" class="btn btn-primary">
            <a href="javascript:void(0)" class="btn btn-primary" onClick="info();">详情</a>	
            <a href="javascript:void(0)" class="btn btn-primary" onClick="Add_order();">添加订单</a>
            <a href="javascript:void(0)" class="btn btn-primary" onClick="push();">推送</a> 
       </form>
     </div>
     <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table_center">
         <thead>
            <tr>
               <!-- 订单列表开始 -->
                <th width="8%">订单号</th>
                <th width="12%">签单人员</th>
                <th width="26%">客户</th>
                <th width="12%">产品</th>
                <th width="15%">金额</th>
                <th width="17%">签单时间</th>
                <th width="10%">审核</th>
             </tr>
            </thead>
            <tbody>	
			<!-- <foreach name="data['order_list']" item="list"> -->
             <tr>
              <td>
                   <input type="checkbox" name="che[]" value="{$list.id}">
                   <input type="hidden" name="cust_id" class="cust_id" value="{$list.cust_id}" data-url="{:U('Order/order_info?id='.$list['id'].'&cust_id='.$list['cust_id'])}">
                   <input type="hidden" name="cust_id" class="adds" value="{$list.cust_id}" data-url="{:U('Order/add_order_form?id='.$list['cust_id'])}">
                   <input type="hidden" name="cust_id" class="push" value="{$list.cust_id}" data-url="{:U('Order/push_form?id='.$list['id'].'&cust_id='.$list['cust_id'])}">
                </td>
                <td>{$list.uname}</td>
                <td class="text_left">{$list.cname}</td>
                <td>{$list.pname}</td>
                <td>{$list.total_fees}元</td>
                <td>{:date('Y/m/d H:i:s',$list['signed_time'])}</td>
                <!-- 显示审核状态 -->
                <td>
                    <!-- <if condition="$list.check eq 1"> -->通过
                    <!-- <elseif condition="$list.check eq 0"/> -->
                    <a href="{:U('Order/check_order?id='.$list['id'].'&& pid='.$list['pid'].'&& cust_id='.$list['cust_id'])}">待审</a>
                    <!-- <else/> -->拒绝<!-- </if> -->
                </td>
            </tr>
			<!-- </foreach> -->
            </tbody>
            <tfoot>
				<tr>
                    <td colspan="8" align="center" class="page">{$data[show]}</td>
                </tr>
			</tfoot>
			<!-- 订单列表结束-->
         </table> 
       </div>
   </div>
</div>   
</body>
</html>