<html lang="en"><head>
<meta charset="utf-8">
<title>权限添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
<link href="__PUBLIC__/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="width:100%; overflow:hidden;">
  <div class="b right_next">
    <h1 class="page-header">权限添加</h1>
           <form action="{:U('Usercustprod/insert')}" method="post">
	        <table class="table_form">
		      <tr>
		        <td width="30%" align="right">                     
		            &nbsp;&nbsp;&nbsp;公 司 名 称 ：
		        </td>
		        <td> 
		           <input type="hidden" value="{$cust_list.id}" name="cust_id">{$cust_list.name}		         
		        </td>
		      </tr>  		      
		      <tr>
		        <td align="right">                     
		           权 限 拥 有 者：
		        </td>
		        <td>                  
		           <select name="user_id" class="form-control">
		               <!-- <empty name="realname"> -->
		                  <!-- <foreach name="user_list" item="user_list"> --> 
			                <option value="{$user_list.id}">{$user_list.realname}</option>
			              <!-- </foreach> --> 
		               <!-- <else />  -->  
		               	 <option value="{$user_id}">{$realname}</option>
			           <!-- </empty> -->        
		           </select>
		        </td>
		      </tr>
		      <tr>
		        <td align="right">                     
		           权限过期时间：
		         </td>
		         <td>
		           <input name="expired_time" onclick="WdatePicker()" class="Wdate form-control" value="" placeholder="时间为空则为永不过期" />                                                          
                   <div lang="zh-cn" style="position: absolute; z-index: 100004; display: none; top: 28px; left: 10px;"><iframe hidefocus="true" width="9" height="7" frameborder="0" border="0" scrolling="no" src="about:blank" style="width: 186px; height: 198px;"></iframe></div>		                      
		        </td>
		      </tr>		     		      		     		      
		       <tr>
                 <td></td>
		        <td>                     
		           <input type="submit" value="提交" class="btn btn-primary">
		         </td>		         
		      </tr>
		     </table>     
		   </form>       
   </div>
</div>
</body>
</html>