<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>权限列表</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden; background: #f2f2f2;">
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>权限列表</font></span></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <!-- <foreach name="list" item="list"> -->   
       <tr>
        <td height="40">
              <span id="cust_search">
                <font style="margin-left: 20px;">操作：	</font>          	                                         
                <a href="{:U('Usercustprod/edit?cust_id='.$list['id'])}" class="button_submit">编辑</a> 
                <a href="{:U('Usercustprod/del?cust_id='.$list['id'])}" class="button_submit">删除</a>
                <a href="{:U('Usercustprod/add')}" class="button_submit">添加</a>                                             
           </span>   
        </td>
      </tr>
      <tr>
        <td height="20"></td>
      </tr>
      <tr>
         <td>
	        <table class="user_info">
		      <tr>
		        <td>                     
		           公司名称：
		        </td>
		        <td>                     
		           {$list.cname}
		        </td>
		      </tr>  
		      <tr>
		        <td>                     
		           联系人：
		        </td>
		        <td>                     
		           {$list.contacts}
		        </td>
		      </tr>  
		      <tr>
		        <td>                     
		           联系电话：
		        </td>
		        <td>                     
		           {$list.phone}
		        </td>
		      </tr>  
		      <tr>
		        <td>                     
		           传真：
		        </td>
		        <td>                     
		           {$list.fax}
		        </td>
		      </tr> 
		      <tr>
		        <td>                     
		           地址：
		        </td>
		        <td>                     
		           {$list.address}
		        </td>
		      </tr> 
		      <tr>
		        <td>                     
		           备注：
		        </td>
		        <td>                     
		           {$list.remark}
		        </td>
		      </tr> 
		      <tr>
		        <td>                     
		           权限：		            
		        </td>
		        <td>                     
		           <!-- <if condition="$list['prod_id'] eq 0 "> -->所有产品                   
		           <!-- <else /> --> {$pro_name}<!-- </if> --> 
		        </td>
		      </tr>
		      <tr>
		        <td>                     
		           权限拥有者：
		        </td>
		        <td>                     
		           {$list.realname}
		        </td>
		      </tr>  
		      <tr>
		        <td>                     
		           权限过期时间：
		        </td>
		        <td>                     
		            <!-- <if condition="$list['expired_time'] eq 0 "> -->永不过期                        
		            <!-- <else /> --> {:date('Y/m/d H:i:s',$list['expired_time'])}<!-- </if> --> 
		        </td>
		      </tr> 
		     </table>           
       </td>
      </tr>
          
     <!-- </foreach> -->                  
     </tbody>
  </table>
</div>
</div>
</body>
</html>