<html lang="en"><head>
<meta charset="utf-8">
<title>权限信息</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
  <div class="b right_next">
    <h1 class="page-header">权限信息</h1>
    <div class="top_search">
        <font style="margin-left: 20px;">操作：	</font> 
          <!-- <empty name="is"> -->
           <a href="{:U('Publiccust/apply?cust_id='.$cust_id.'&user_id='.$user_id)}" class="btn btn-primary">申请延期</a> 
          <!-- </empty> --> 
           <!-- <a href="{:U('Usercustprod/edit?cust_id='.$cust_id)}" class="btn btn-primary">编辑</a> -->
           <a href="{:U('Usercustprod/del?cust_id='.$cust_id)}" class="btn btn-primary" onclick="if(confirm(&#39;您确定要将权限放入公海吗？&#39;)){$(this).RSsubmit();}return false;">放入公海</a> 	
                	                                                                                                                     
    </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
	       <!-- <foreach name="custlist" item="custlist"> -->
	        <tbody>
              <tr>
		        <th colspan="4" class="active">                     
		           公司基本信息
		        </th>		       
		      </tr>
            </tbody>  
		      <tr>
		        <td width="15%" align="center">公司名称</td>
		        <td width="35%">{$custlist.cname}</td>
		        <td width="15%" align="center">联&nbsp;系&nbsp;人</td>
		        <td width="35%">{$custlist.contacts}</td>
		      </tr>  
		      <tr>
		        <td align="center">联系电话</td>
		        <td>{$custlist.phone}</td>
		        <td align="center">传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真</td>
		        <td>{$custlist.fax}</td>
		      </tr>       
		      <tr>
		        <td align="center">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</td>
		        <td>{$custlist.address}</td>
		         <td align="center"> 添加时间</td>
		        <td>{:date('Y/m/d H:i:s',$custlist['add_time'])}</td>
		      </tr>
		      <tr>
		        <td align="center">添 加 人</td>
		        <td>{$custlist.realname}</td>
		        <td align="center">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</td>
		        <td class="text-info">
		          <!-- <if condition="$custlist['status'] eq -1 "> -->删除
                  <!-- <elseif condition="$custlist['status'] eq 0 " /> -->禁用
                  <!-- <else /> -->正常<!-- </if> -->
		        </td>
		      </tr> 
		      <tr>
		        <td align="center">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</td>
		        <td colspan="3">{$custlist.remark}</td>		        
		      </tr> 
		     <!-- </foreach> -->  	
		       		    
		    <!-- <empty name="list"> -->
             <tr>
		      	<th colspan="4" style="color: red;">该公司权限还未添加</th>
		     </tr>	
            <!-- </empty> -->
		    <!-- <foreach name="list" item="list"> -->
		      <tr>
		      	<th colspan="4" class="active"> 权限信息</th>
		      </tr>	   		     
		      <tr>
		        <td align="center"> 权限拥有者</td>
		        <td> {$list.realname}</td>
		         <td align="center">  权限过期时间 </td>
		        <td>                     
		            <!-- <if condition="$list['expired_time'] eq 0 "> -->永不过期                        
		            <!-- <else /> --> {:date('Y/m/d H:i:s',$list['expired_time'])}
		            
		            <!-- <if condition="$list['expired_time'] lt $time "> --><font class="red"> 权限已过期</font><!-- </if> -->
		            
		            <!-- </if> --> 
		        </td>
		      </tr> 
		      <!-- </foreach> -->       
		     </table>
           </div>
  </div>
</div>
</body>
</html>