<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>域名添加</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">	
function checkdomain(){
		var domain = $('#domain').val();	
		if( (domain == "") )
		{
			alert("请输入要查询的域名！");			
		}else{
		  $.ajax({    
		        type:'get',        
		        url:'__URL__-search',    
		        data:'domain='+domain,    
		        cache:false,    
		        dataType:'html',    
		        success:function(list){ 
		        	window.open ('__URL__-search-domain-'+domain,'newwindow', 'height=500, width=700, scrollbars=yes, resizable=yes');
		        }    
		    }); 
		}
}
</script>
</head>
<body>
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>域名添加</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="tishi">模糊查询：因数据较多，存在域名注册重复的现象，建议在录入前输入域名简写点击模糊查询，以杜绝重复录入情况。（例如wanqian.com，可输入wanqian进行模糊查询）</font></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td align="center">
           <form action="{:U('Domain/insert')}" method="post" name="domainform" id="domainform" onsubmit="return checkdomainfrm(this);">           
            <table width="500" border="0">
                  <tr>
                    <td width="100">&nbsp;&nbsp;域 &nbsp;&nbsp; 名 &nbsp;&nbsp;：</td>
                    <td width="400">                                      
		                <input type="text" name="domain" id="domain" />
		                <input type="hidden" name="cust_id" value="{$cust_id}">
		                <font class="fontred" id="namets">*</font>
		                <a href="javascript:void(0)" id="btnsearch" onclick="checkdomain();">模糊查询 </a>		                           	                                                 
                    </td>
                  </tr>
                  <tr>
                    <td>使 用 年 限：</td>
                    <td>
                       <select name="year">
                          <option value="1"> 一 年 </option>
                          <option value="2"> 二 年 </option>
                          <option value="3"> 三 年 </option>
                          <option value="4"> 四 年 </option>
                          <option value="5"> 五 年 </option>
                       </select>
                    
                    <font class="fontred" id="namets"> *</font></td>
                  </tr> 
                  <tr>
                    <td>域名运营商：</td>
                    <td><input type="text" name="service"></td>
                  </tr>                                  
                  <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" name="Submit" value=" 添加 " class="button_submit"></td>
                  </tr>
            </table>                              
           </form>
        </td>
      </tr>
     </tbody>
  </table>
</div>
<script type="text/javascript">
function checkdomainfrm(afrm) {
 if( (afrm.domain.value == "") )
	{
		alert("域名不能为空！");
		afrm.domain.focus();
		return false;
	}
 if( (afrm.service.value == "") )
	{
		alert("运营商不能为空！");
		afrm.service.focus();
		return false;
	} 
	$(afrm).RSsubmit({success_alert:true});
	return false;
}
</script>
</body>
</html>