<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>域名添加</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>域名添加</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="tishi">模糊查询：因数据较多，存在一家单位多个名称的现象，建议在录入前输入公司简写点击模糊查询，以杜绝重复录入情况。（例如洛阳市万谦网络科技有限公司，可输入万谦进行模糊查询）</font></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td align="center">
           <form action="{:U('Domain/insert')}" method="post" name="domainform" id="domainform" onsubmit="return checkdomainfrm(this);">           
            <table width="500" border="0">
                  <tr>
                    <td width="30%">域名：</td>
                    <td width="70%">                                      
		                <input type="text" name="domain" id="domain" />
		                <input type="hidden" name="cust_id" value="{$cust_id}">
		                <font class="fontred" id="namets">*</font>		                           	                                                 
                    </td>
                  </tr>
                  <tr>
                    <td>使用年限：</td>
                    <td><input type="text" name="year"><font class="fontred" id="namets">*</font></td>
                  </tr> 
                  <tr>
                    <td>域名运营商：</td>
                    <td><input type="text" name="service"></td>
                  </tr>                                  
                  <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" name="Submit" value=" 添加 " class="button_submit"></td>
                  </tr>
            </table>                              
           </form>
        </td>
      </tr>
     </tbody>
  </table>
</div>
<script type="text/javascript">
function checkdomainfrm(afrm) {
 if( (afrm.domain.value == "") )
	{
		alert("域名不能为空！");
		afrm.domain.focus();
		return false;
	}
 if( (afrm.service.value == "") )
	{
		alert("运营商不能为空！");
		afrm.service.focus();
		return false;
	} 
	$(afrm).RSsubmit({success_alert:true});
	return false;
}
</script>
</body>
</html>