<html lang="en"><head>
<meta charset="utf-8">
<title>域名添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">	
//域名模糊查询 
function checkdomain(){
		var domain = $('#domain').val();	
		if( (domain == "") )
		{
			alert("请输入要查询的域名！");			
		}else{
		  $.ajax({    
		        type:'get',        
		        url:'__URL__-search',    
		        data:'domain='+domain,    
		        cache:false,    
		        dataType:'html',    
		        success:function(list){ 
		        	window.open ('__URL__-search-domain-'+domain,'newwindow', 'height=500, width=700, scrollbars=yes, resizable=yes');
		        }    
		    }); 
		}
}
</script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
  <div class="b right_next">
    <h1 class="page-header">域名添加</h1>
    <font class="red tishi">模糊查询：因数据较多，存在域名注册重复的现象，建议在录入前输入域名简写点击模糊查询，以杜绝重复录入情况。（例如wanqian.com，可输入wanqian进行模糊查询）</font>
        <form action="{:U('Domain/insert')}" method="post" name="domainform" id="domainform" onsubmit="return checkdomainfrm(this);"> 
            <input type="hidden" name="order_id" value="{$order_id}">
            <table class="table_form">
                  <tr>
                    <td width="30%" align="right">&nbsp;&nbsp;域 &nbsp;&nbsp; 名 &nbsp;&nbsp;：</td>
                    <td width="70%">                                      
		                <input type="text" name="domain" id="domain" class="form-control" />
		                <input type="hidden" name="cust_id" value="{$cust_id}">
		                <font class="red" id="namets"> * </font>
		                <a href="javascript:void(0)" id="btnsearch" onclick="checkdomain();">模糊查询</a>	            
                    </td>
                  </tr>
                  <tr>
                    <td align="right">使 用 年 限：</td>
                    <td>
                       <select name="year" class="form-control">
                          <option value="1"> 一 年 </option>
                          <option value="2"> 二 年 </option>
                          <option value="3"> 三 年 </option>
                          <option value="4"> 四 年 </option>
                          <option value="5"> 五 年 </option>
                       </select>                   
                    <font class="red" id="namets"> * </font></td>
                  </tr> 
                  <tr>
                    <td align="right">域 名 权 限：</td>
                    <td>
                       <select name="doamin_user" class="form-control">
                          <option value="0"> 公司所有</option>
                          <option value="1"> 客户自有 </option>                         
                       </select>                    
                    <font class="red" id="namets"> * </font></td>
                  </tr> 
                  <tr>
                    <td align="right">域名运营商：</td>
                    <td><input type="text" name="service" class="form-control"></td>
                  </tr>                                  
                  <tr>
                    <td>&nbsp;</td>
                    <td align="left"><input type="submit" name="Submit" value=" 添加 " class="btn btn-primary"></td>
                  </tr>
            </table>                              
         </form>
  </div>
</div>
<script type="text/javascript">
function checkdomainfrm(afrm) {
 if( (afrm.domain.value == "") )
	{
		alert("域名不能为空！");
		afrm.domain.focus();
		return false;
	}
 if( (afrm.service.value == "") )
	{
		alert("运营商不能为空！");
		afrm.service.focus();
		return false;
	} 
	$(afrm).RSsubmit({success_alert:true});
	return false;
}
</script>
</body>
</html>