<html lang="en"><head>
<meta charset="utf-8">
<title>域名申请续费列表</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
  <div class="b right_next">
     <h1 class="page-header">域名详细信息</h1>
     <div class="top_search">
        <font style="padding-left: 20px;"> 操作： </font>                                                      
        <a href="{:U('Domain/add_domain?cust_id='.$cust_id)}" class="btn btn-primary">添加域名</a> 
        <a href="{:U('Domren/apply_renewal?id='.$id)}" class="btn btn-primary">申请续费</a>                
      </div>
      <!-- 客户详细信息 -->       
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
                  <tr>
                    <th colspan="4" align="left" class="active"> 域 名 信 息 </th>                    
                  </tr>
            </thead>
            <tbody>
                 <!-- <foreach name="domain_list" item="domain_list"> --> 
                  <tr>
                    <td width="20%">域 名 编 号</td>
                    <td width="30%"> 
                      <input type="hidden" value="{$domain_list['cust_id']}" name="cust_id">                                     
		                	{$domain_list['id']}      		                               	                                                 
                    </td>
                    <td width="20%">公 司 名 称</td>
                    <td width="30%">{$domain_list['name']}</td>
                  </tr>                 
                  <tr>
                    <td> 域 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 </td>
                    <td>{$domain_list['domain']}</td>
                    <td>域名运营商</td>
                    <td>{$domain_list['service']}</td>
                  </tr>
                  <tr>
                    <td>注 册 时 间</td>
                    <td>{:date('Y/m/d H:i:s',$domain_list['reg_time'])}</td>
                    <td>到 期 时 间</td>
                    <td>{:date('Y/m/d H:i:s',$domain_list['expired_time'])}</td>
                  </tr>
                  <tr>
                    <td>域 名 状 态</td>
                    <td>
                        <!-- <if condition="$domain_list['status'] eq -1 "> -->删除
                        <!-- <elseif condition="$domain_list['status'] eq 0 " /> -->禁用   
                        <font color="red"> 该域名已过期，请抓紧时间续费！</font>
                        <!-- <else /> --> 正常<!-- </if> -->
                    </td>
                    <td>审 核 状 态</td>
                    <td>
                        <!-- <if condition="$domain_list['check'] eq -1 "> -->拒绝
                        <!-- <elseif condition="$domain_list['check'] eq 0 " /> -->
                        <a href="{:U('Domain/check?id='.$domain_list['id'])}">待审</a>
                        <!-- <else /> --> 通过<!-- </if> -->                      
                    </td>
                  </tr>              
                  <tr>
                    <td>审 核 时 间</td>
                    <td>
                      <!-- <if condition="$domain_list['check'] egt 1 "> -->{:date('Y/m/d H:i:s',$domain_list['check_time'])}
                      <!-- <else /> --><font color="red">域名还未通过审核</font><!-- </if> -->
                    </td>  
                    <td>域 名 归 属</td>
                    <td>
                       <!-- <if condition="$domain_list['doamin_user'] eq 0 "> -->公司
                       <!-- <else /> -->客户<!-- </if> -->
                    </td>                 
                  </tr>
                  <!-- </foreach> -->      
              </tbody>                           
          </table>
       </div>
   </div>
</div>
</body>
</html>