<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>域名详细信息</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden; background: #f2f2f2;">
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>域名详细信息</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="tishi">域名详细信息查看</font></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
       <tr>
        <td height="40">
              <span id="cust_search">
	           	<font style="padding-left: 20px;"> 操作： </font>                                                      
                <a href="{:U('Domain/add_domain?cust_id='.$cust_id)}" class="button_submit">添加域名</a> 
                <a href="{:U('Domren/apply_renewal?id='.$id)}" class="button_submit">申请续费</a>                
           </span>   
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="center">  
        <!-- 客户详细信息 -->       
            <table width="740" border="0" class="com_table" cellspacing="0" cellpadding="0">
                  <tr style="height: 40px;">
                    <th colspan="4" align="left"> 域 名 信 息 </th>                    
                  </tr>
                 <!-- <foreach name="domain_list" item="domain_list"> --> 
                  <tr>
                    <td width="150">域 名 编 号</td>
                    <td width="220"> 
                      <input type="hidden" value="{$domain_list['cust_id']}" name="cust_id">                                     
		                	{$domain_list['id']}      		                               	                                                 
                    </td>
                    <td width="150">公 司 名 称</td>
                    <td width="220">{$domain_list['name']}</td>
                  </tr>                 
                  <tr>
                    <td> 域 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 </td>
                    <td>{$domain_list['domain']}</td>
                    <td>域名运营商</td>
                    <td>{$domain_list['service']}</td>
                  </tr>
                  <tr>
                    <td>注 册 时 间</td>
                    <td>{:date('Y/m/d H:i:s',$domain_list['reg_time'])}</td>
                    <td>到 期 时 间</td>
                    <td>{:date('Y/m/d H:i:s',$domain_list['expired_time'])}</td>
                  </tr>
                  <tr>
                    <td>域 名 状 态</td>
                    <td>
                        <if condition="$domain_list['status'] eq -1 ">删除
                        <elseif condition="$domain_list['status'] eq 0 " />禁用   <font color="red"> 该域名已过期，请抓紧时间续费！</font>
                        <else /> 正常</if>
                    </td>
                    <td>审 核 状 态</td>
                    <td>
                        <if condition="$domain_list['check'] eq -1 ">拒绝
                        <elseif condition="$domain_list['check'] eq 0 " /><a href="{:U('Domain/check?id='.$domain_list['id'])}">待审</a> &nbsp;&nbsp;   <font color="red"> 请尽快审核！</font>
                        <else /> 通过</if>                      
                    </td>
                  </tr>
                  <if condition="$domain_list['check'] egt 1 ">
                  <tr>
                    <td>审 核 时 间</td>
                    <td colspan="3">{:date('Y/m/d H:i:s',$domain_list['check_time'])}</td>                   
                  </tr>
                   <else /> </if>
                  <!-- </foreach> -->                                 
            </table>                          
        </td>
      </tr>      
     </tbody>
  </table>
</div>
</div>
</body>
</html>