<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>客户添加</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
<script>
function checkname(){
	$("#btn").click(function(){					
		var name=$('#name').val();								
		  $.ajax({    
		        type:'get',        
		        url:'__URL__-search',    
		        data:'name='+name,    
		        cache:false,    
		        dataType:'html',    
		        success:function(list){ 
		        	window.open ('__URL__-search-name-'+name,'newwindow', 'height=500, width=700, scrollbars=yes, resizable=yes');
		        }    
		    }); 		
		});
}
</script>
</head>
<body>
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>添加客户信息</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="tishi">模糊查询：因数据较多，存在一家单位多个名称的现象，建议在录入前输入公司简写点击模糊查询，以杜绝重复录入情况。（例如洛阳市万谦网络科技有限公司，可输入万谦进行模糊查询）</font></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td align="center">
           <form action="{:U('Customer/insert')}" method="post" name="form1" id="form1" onsubmit="return checkfrm1(this);">           
            <table width="500" border="0">
                  <tr>
                    <td width="100">公司名称：</td>
                    <td width="400">                                      
		                <input type="text" name="name" id="name" />
		                <font class="fontred" id="namets">*</font>		               
		                <a href="#" id="btn" onclick="checkname()"> 模糊查询 </a>              	                                                 
                    </td>
                  </tr>
                  <tr>
                    <td width="100">联 系  人：</td>
                    <td width="400"><input type="text" name="contacts"><font class="fontred" id="namets">*</font></td>
                  </tr>
                  <tr>
                    <td>联系电话：</td>
                    <td><input type="text" name="phone"><font class="fontred" id="namets">*</font></td>
                  </tr>
                  <tr>
                    <td>传 &nbsp;&nbsp;&nbsp; 真：</td>
                    <td><input type="text" name="fax"></td>
                  </tr>
                  <tr>
                    <td>录 入 人：</td>
                    <td><input type="text" name="add_user"></td>
                  </tr>
                  <tr>
                    <td>地  &nbsp;&nbsp;&nbsp; 址：</td>
                    <td><input type="text" name="address" style="width:250px"></td>
                  </tr>
                   <tr>
                    <td>备  &nbsp;&nbsp;&nbsp; 注：</td>
                    <td><textarea name="remark" cols="40" rows="8"></textarea></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" name="Submit" value=" 添加 " class="button_submit"></td>
                  </tr>
            </table>                              
           </form>
        </td>
      </tr>
      <tr>
         <td id="showResult">
              <if condition="$list eq '' ">
                       
                        <else />无结果</if> 
         
         </td>
      </tr>
     </tbody>
  </table>
</div>
<script type="text/javascript">
function checkfrm1(afrm) {
 if( (afrm.name.value == "") )
	{
		alert("公司名称不能为空！");
		afrm.name.focus();
		return false;
	}
 if( (afrm.contacts.value == "") )
	{
		alert("联系人不能为空！");
		afrm.contacts.focus();
		return false;
	}
 if( (afrm.phone.value == "") )
	{
		alert("联系电话不能为空！");
		afrm.phone.focus();
		return false;
	}
 
	$(afrm).RSsubmit({success_alert:true});
	return false;
}
</script>
</body>
</html>