<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>客户详细信息</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>客户详细信息</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="tishi">客户详细信息查看</font></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
       <tr>
        <td height="40">
              <span id="cust_search">
	           	<font style="padding-left: 20px;"> 操作： </font>                                      
                <a href="{:U('Customer/edit?id='.$list['id'])}" class="button_submit">信息修改</a>
                <a href="{:U('Order/add_order?cust_id='.$list['id'])}" class="button_submit" >添加订单</a> 
                <a href="{:U('Domain/add_domain?cust_id='.$list['id'])}" class="button_submit">添加域名</a> 
                
           </span>   
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="center">  
        <!-- 客户详细信息 -->       
            <table width="100%" border="0" style="font-size: 12px;" class="com_table">
                  <tr>
                    <th colspan="4" align="left"  style=" width: 742px;">公司信息</th>                    
                  </tr>
                  <tr>
                    <td width="20%">公司名称：</td>
                    <td width="30%"> 
                      <input type="hidden" value="{$list['id']}" name="id">                                     
		                {$list['name']}		                		                               	                                                 
                    </td>
                    <td width="20%">联 系  人：</td>
                    <td width="30%">{$list['contacts']}</td>
                  </tr>                 
                  <tr>
                    <td>联系电话：</td>
                    <td>{$list['phone']}</td>
                    <td>传 &nbsp;&nbsp;&nbsp; 真：</td>
                    <td>{$list['fax']}</td>
                  </tr>
                  <tr>
                    <td>地  &nbsp;&nbsp;&nbsp; 址：</td>
                    <td>{$list['address']}</td>
                    <td>添加时间：</td>
                    <td>{:date('Y/m/d H:i:s',$list['add_time'])}</td>
                  </tr>
                  <tr>
                    <td>添 加 人：</td>
                    <td>权限未做</td>
                    <td>其 &nbsp;&nbsp;&nbsp;他： </td>
                    <td>其他</td>
                  </tr>                  
            </table>
            <!-- 订单信息 -->
             <!-- <foreach name="order_list" item="order_list"> --> 
            <table width="100%" border="0" style="font-size: 12px;" class="com_table">
                  <tr>
                    <th colspan="4" align="left"  style=" width: 742px;">订单信息{$order_list['id']}</th>                    
                  </tr>                
                  <tr>
                    <td width="20%">订单编号：</td>
                    <td width="30%">{$order_list['id']}</td>
                    <td width="20%">签单人员：</td>
                    <td width="30%">{$order_list['user_id']}</td>
                  </tr>                 
                  <tr>
                    <td>签单产品：</td>
                    <td>{$order_list['prod_id']}</td>
                    <td>订单金额：</td>
                    <td>{$order_list['total_fees']}</td>
                  </tr>
                  <tr>
                    <td>到期时间：</td>
                    <td>{:date('Y/m/d H:i:s',$order_list['expired_time'])}</td>
                    <td>订单状态：</td>
                    <td>{$order_list['status']}</td>
                  </tr>
                  <tr>
                    <td>备 &nbsp;&nbsp;&nbsp; 注：</td>
                    <td colspan="3">{$order_list['remark']}</td>
                  </tr> 
                                  
            </table>
             <!-- </foreach> -->
            
            <!-- 域名信息 -->
            <!-- <foreach name="domain_list" item="domain_list"> -->
             <table width="100%" border="0" style="font-size: 12px;" class="com_table">
                  <tr>
                    <th colspan="4" align="left"  style=" width: 742px;">域名信息{$domain_list['id']}</th>                   
                  </tr>
                  <tr>
                    <td width="20%">域  &nbsp;&nbsp;&nbsp; 名：</td>
                    <td width="30%">{$domain_list['domain']}</td>
                    <td width="20%">域名运营商：</td>
                    <td width="30%">{$domain_list['service']}</td>
                  </tr>                 
                  <tr>
                    <td>注册时间：</td>
                    <td>{:date('Y/m/d H:i:s',$domain_list['reg_time'])}</td>
                    <td>过期时间：</td>
                    <td>{:date('Y/m/d H:i:s',$domain_list['expired_time'])}</td>
                  </tr>
                  <tr>
                    <td>域名状态：</td>
                    <td>{$domain_list['status']}</td>
                    <td>审核状态：</td>
                    <td>{$domain_list['check']}</td>
                  </tr>                                   
            </table>                              
        </td>
      </tr>      
     </tbody>
  </table>
</div>
</body>
</html>