<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>帮助搜索</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div class="b search_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="search_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>客户信息模糊查询</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="search_tishi">模糊搜索查询到的信息</font></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td align="center">                     
            <table width="600" border="0" class="cust_list">           
                  <tr class="sea_liebiao_title">
                    <th width="200">公司名称</th>
                    <th width="100">联系人</th>
                    <th width="120">联系电话</th>
                    <th width="100">录入人</th>
                    <th width="100">状态</th>
                  </tr>
               </table>
           </td>
      </tr>
      
      <tr>
        <td align="center"> 
          <!-- <foreach name="list" item="data"> -->          
            <table width="600" border="0" cellspacing="0" cellpadding="0" class="com_list">                                                 
                  <tr height="30">         
                     <td width="200" align="center">{$data.name|mb_substr=0,45}</td>
                     <td width="100" align="center">{$data.contacts}</td>
                     <td width="120" align="center">{$data.phone}</td>
                     <td width="100" align="center">{$data.add_user}</td>
                     <td width="100" align="center">
                        <if condition="$data['check'] eq -1 ">拒绝
                        <elseif condition="$data['check'] eq 0 " /><a href="{:U('Customer/check?id='.$data['id'])}">待审</a>
                        <else /> 通过</if>                                            
                     </td>
                  </tr>                         
              </table>
             <!-- </foreach> -->
           </td>
      </tr>                             
      <tr>
        <td align="center">                     
          <table width="600" border="0" style="display: block; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
            <tr style="display: block; padding-top: 10px;">
              <td height="30" style="display: block; text-align: center;">{$page}</td>
            </tr>
          </table>
        </td>
      </tr>  
      <tr>
        <td height="30"></td>
      </tr>      
     </tbody>
  </table>
</div>
</body>
</html>

<script>
$(document).ready(function(){
    $(".com_list tr:odd").css("background","#F0F0F0");
});
</script>