<html lang="en"><head>
<meta charset="utf-8">
<title>拜访记录添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__CSS__/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" media="screen">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden;">
  <div class="b right_next">
     <h1 class="page-header">添加拜访记录</h1>
       <form action="{:U('Customervisit/addvisit_insert')}" method="post">                      
        <table class="table_form">
             <tr>
                <td width="30%" align="right">拜访客户：</td>
                <td width="30%">
                  		<!-- <if condition="$cust_id eq ''"> -->
                  		<input type="text"  id="name" class="form-control" />
                  		<!-- <else/> -->
                  		<input type="text" class="form-control" style="width: 200px !important;" name="{$cust_id}" value="{$cust_name}">
                        <input type="hidden" class="form-control" name="cust_id" value="{$cust_id}">
                  		<!-- </if> -->                    
                </td>
                <td width="5%" rowspan="4"></td>
                <td width="35%" rowspan="4">&nbsp;&nbsp;选择客户<br/><hr/><iframe width="300" height="350" scrolling="Yes" frameborder="0" src="{:U('Customervisit/search')}"></iframe></td>
              </tr> 
              <tr>
                <td align="right">拜访时间：</td>
                <td><input type="text" name="visit_time" value="{:date('Y/m/d H:i:s',$visit_time)}" class="form-control"></td>
              </tr>                                
              <tr>
                <td align="right">拜访情况：</td>
                <td><textarea name="content" cols="45" rows="8" class="form-control"></textarea></td>
              </tr>
             
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="Submit" value=" 添加 " class="btn btn-primary"></td>
              </tr>
        </table>                              
       </form>
  </div>
</div>
</body>
</html>