<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>拜访记录列表</title>
<link href="__CSS__/home.css" rel="stylesheet" type="text/css">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/RSsubmit.js"></script>
</head>
<body>
<div style="width:100%; overflow:hidden; background: #f2f2f2;">
<div class="b right_next">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="r_c1_title"><span><img style="float:left; margin-left:10px;" src="__IMG__/dayu.png" height="32"><font>拜访记录列表</font></span></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font class="tishi">头部提示信息：下面所列的是所有客户的拜访记录！</font></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr> 
      <tr>
        <td height="40">
              <span id="cust_search">
	           <form action="{:U('Customervisit/visitlists?p=1')}" method="get">
	                                          搜索：<select name="key" class="search">
	                  <option value="1">公司名称</option>   
	                  <option value="2">拜访人员</option>                      
	                </select>
	                <input type="text" name="name" class="search" value="" />                       
	                <input type=submit value="搜索" class="button_submit" />
	           </form> 
              <a href="{:U('Customervisit/addvisit')}" class="button_submit">添加拜访</a>                                             
           </span>   
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>   
      <tr>
        <td align="center">                     
            <table width="752" border="0" class="cust_list">           
                  <tr class="liebiao_title">
                    <th width="100">编号</th>
                    <th width="230">公司名称</th>
                    <th width="120">拜访员工</th>
                     <th width="150">拜访时间</th>
                    <th width="150">操作</th>
                  </tr>
               </table>
           </td>
      </tr>      
      <tr>
        <td align="center"> 
          <!-- <foreach name="visit_lisit" item="data"> -->        
            <table width="752" border="0" cellspacing="0" cellpadding="0" class="com_list">                                                  
                  <tr height="30">
                     <td width="100" align="center">{$data.id}</td>
                     <td width="230" align="center">{$data.cname|mb_substr=0,54}</td>
                     <td width="120" align="center">{$data.uname}</td>
                     <td width="150" align="center">{:date('Y/m/d H:i:s',$data['visit_time'])}</td>
                     <td width="150" align="center">
                       <a href="{:U('Customervisit/visit_detailed?id='.$data['id'])}">查看详细</a> | 
                       <a href="{:U('Customervisit/add_visit_prod?visit_id='.$data['id'])}">添加沟通记录 </a>
                     </td>
                  </tr>                         
              </table>
             <!-- </foreach> -->
           </td>
      </tr>                             
      <tr>
        <td align="center">                     
          <table width="752" border="0" style="display: block; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
            <tr style="display: block;">
              <td height="40" style="display: block; text-align: center; line-height: 40px;">{$page}</td>
            </tr>
          </table>
        </td>
      </tr>        
     </tbody>
  </table>
</div>
</div>
</body>
</html>
